{% extends 'base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/projects/home.css' %}" />
    {% endblock %}
  </head>
  <body>
    <div class="main-title">
      <h1>Acciones</h1>
    </div>
    <div class="options-container">
      <h2 class="subtitle">¿Qué deseas hacer?</h2>
      <div class="options-wrapper">
        {% if user_role == 'page_manager' %}
        <a href="{% url 'resources-list' %}">
          <div class="single-option">
            <img
              class="option-icon"
              src="{% static 'img/home/resource.png' %}"
            />
            <h2 class="options-h2">Recursos</h2>
            <p class="options-p">Gestionar recursos disponibles</p>
          </div>
        </a>

        <a href="{% url 'categories-list' %}">
          <div class="single-option">
            <img
              class="option-icon"
              src="{% static 'img/home/categories.png' %}"
            />
            <h2 class="options-h2">Categorías</h2>
            <p class="options-p">Gestionar categorias de proyectos</p>
          </div>
        </a>
        {% endif %}
      </div>
    </div>
  </body>
</html>

{% endblock %}
